.App {
  /* margin: 1rem; */
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-content: center;
  background: #faebd7;
  height: 600px;
}

h1 {
  color: rgb(230, 33, 33);
}

h2 {
  text-align: center;
  color: blue;
}

.Login {
  display: grid;
  justify-content: center;
  background-color: lightgrey;
  font-family: Comic sans-serif;
}

.Logo {
  display: flex;
  width: 80%;
}

.letterButton {
  margin-top: 2%;
  font-size: 20px;
  color: white;
  height: auto;
  width: 10%;
  text-align: center;
}

button {
  background-color: darkblue;
  box-shadow: darkcyan;
}

.letterButton:disabled {
  background-color: gray;
}

.letterWrapper {
  /* width: 50%; */
  margin-left: 10%;
  margin-right: 10%;
}

#answerViewer {
  text-align: center;
  font-size: 36px;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
}

.clue {
  text-align: center;
  background-color: skyblue;
  padding: 15px;
  border-radius: 5px;
}

.hangviewer {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background-color: burlywood;
}

.letterButtons {
  display: table;
  text-align: center;
}

.letterButton:hover {
  box-shadow: 2px 2px darkgray;
}

.RankingButton{
  margin-top: 2%;
  font-size: 20px;
  color: white;
  height: auto;
  width: 10%;
  text-align: center;
}
